body {
    display: grid;
}
header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}
#titlelinks {
    justify-self: end;
}
.birds {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));

}
.seal {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}
footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-content: center;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}
#footerlinks {
    display: grid;
}